<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Real World Marraige</h1>
<br />
<p>
	Real World Marraige was built by <a target="_blank" href="https://github.com/rachaelsalter/">Rachael Salter</a>, an aspiring Software Developer studying at <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project.</a>
</p>
<br />
<p>
	Inspiration for this app came from an idea with her best friend, Kristel Williams, to create a marraige advice book from the real quotes and experiences of Mrs. Williams. Though Rachael is not married, (yet?), she continues to gather material from the many stories provided by Kristel. Oh what fun! This app will be a way for them to keep track of the quotes and turn them into a New York Times best-seller! 
</p>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'rachael_kristel.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Rachael Salter & Kristel Williams</h2>
	<br />
	    <p>
		Rachael and Kristel have been best friends for 15 years -- they have known each other for half their lives! Kristel is a wife and mother of 2 daughters. She enjoys cooking, everything Pinterest and has a passion to help special needs children. Some call her the "Sponge" because she enjoys letting others lift anything heavy but she has recently graduated to "Guppy" by proving herself useful at a recent beach trip. Nice work! #eastcoastsummer
        </p>

        <p>
		Rachael also known as "Ti Ti", to her nieces she adores, or "Ru-Ru" to those who know her dearly is a free-sprited soul. When she is not coding or "Rachaeling-around" you can find her planning her tiny house build (which technically is Rachaeling-around), making avocado smoothies or getting ready for her long-awaited move to the west coast. #westcoastsoul
		</p>

		<p>
		An honerable mention goes to Renee Salter who is the consultant on the dating perspective. Renee may potentially be crazier than Rachael #idontunderstand, but doesn't want anyone else to think so. She is a mother of one daugher and enjoys cooking, helping the keedz (though not on the front lines) and watching TV. All in all she is just a Honey Boo Boo child :) 
	</p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />